*{
	margin: 0;
	padding: 0;
}

#Rectangle-1 {
  width: 1700px;
  height: 2100px;
  position: absolute;
  background-color: #1b3e5f;
}


#Rectangle-2 {
  width: 1590px;
  height: 2000px;
  position: absolute;
  margin-left: 50px;
  margin-right: 90px;
  margin-bottom: 90px;
  margin-top: 52px;
  border-radius: 30px;
  background-color: #fffbfb;
}

#Reports {
  width: 229.5px;
  height: 39.6px;
  position: absolute;
  font-family: Montserrat;
  font-size: 56px;
  margin-left: 300px;
  margin-top: -320px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #12283f;
}

#My-Appointments {
  width: 450px;
  height: 39px;
  margin: 68px 68.1px 17px 190px;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #12283f;
}

#Supply-Chain {
  width: 400px;
  height: 39px;
  position: absolute;
  margin: 630px 130.1px 25.3px 220px;
  font-family: Montserrat;
  font-size: 62px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #12283f;
}

#PatientLog {
  width: 400px;
  height: 39px;
  position: absolute;
  margin: 630px 130.1px 25.3px 850px;
  font-family: Montserrat;
  font-size: 62px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #12283f;
}

#Rectangle-15 {
  width: 930px;
  height: 220px;
  position: absolute;
  margin-left: 620px;
  margin-top: 80px;
  border-radius: 20px;
  background-color: #e5ecf1;
}

#image-1 {
  width: 900px;
  height: 480px;
  position: absolute;
  margin-top: -156px;
  margin-bottom: 700px;
  margin-left: 220px;
  margin-right: ;
}

#wish {
  width: 650px;
  height: 44.5px;
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#niceday {
  width: 650px;
  height: 44.5px;
  position: absolute;
  margin-top: 105px;
  margin-left: 10px;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#logo {
  width: 340px;
  height: 335px;
  position: absolute;
  margin-top: 30px;
  margin-bottom: ;
  margin-left: 50px;
  margin-right: ;
}

#Rectangle-14 {
  width: 1160px;
  height: 240px;
  margin-left: 90px;
  margin-right: 100px;
  margin-top: 450px;
  border-radius: 30px;
  background-color: #e5ecf1;
}

#Rectangle-23 {
  width: 1186px;
  height: 524px;
  position: absolute;
  margin-left: 90px;
  margin-top: 150px;
  border-radius: 30px;
  background-color: #e5ecf1;
}

#Outer-Report {
  width: 400px;
  height: 70px;
  position: absolute;
  margin-left: 520px;
  margin-top: 360px;
  border-radius: 28px;
  background-color: #e5ecf1;
}

#Outer-Report2 {
  width: 400px;
  height: 70px;
  position: absolute;
  margin-left: 610px;
  margin-top: 750px;
  border-radius: 28px;
  background-color: #e5ecf1;
}

#Rectangle-19 {
  width: 100px;
  height: 40px;
  position: absolute;
  margin-left: 20px;
  margin-top: 17px;
  border-radius: 28px;
  background-color: #1b3e5f;
}

#Rectangle-5 {
  width: 570px;
  height: 380px;
  position: absolute;
  margin-left: 90px;
  margin-top: 850px;
  border-radius: 30px;
  background-color: #e5ecf1;
}

#Rectangle-7 {
  width: 570px;
  height: 380px;
  position: absolute;
  margin-left: 720px;
  margin-top: 850px;
  border-radius: 30px;
  background-color: #e5ecf1;
}

#Rectangle-18 {
  width: 100px;
  height: 40px;
  position: absolute;
  margin-left: 20px;
  margin-top: 17px;
  border-radius: 28px;
  background-color: #1b3e5f;
}

#Rectangle-101 {
  width: 186px;
  height: 172px;
  position: absolute;
  margin-top: 33px;
  margin-left: 35px;
  border-radius: 30px;
  background-color: #ffffff;
}

#Rectangle-102 {
  width: 186px;
  height: 172px;
  position: absolute;
  margin-top: 33px;
  margin-left: 250px;
  border-radius: 30px;
  background-color: #ffffff;
}

#Rectangle-103 {
  width: 186px;
  height: 172px;
  position: absolute;
  margin-top: 33px;
  margin-left: 468px;
  border-radius: 30px;
  background-color: #ffffff;
}

#Rectangle-104 {
  width: 186px;
  height: 172px;
  position: absolute;
  margin-top: 33px;
  margin-left: 688px;
  border-radius: 30px;
  background-color: #ffffff;
}

#Rectangle-105 {
  width: 186px;
  height: 172px;
  position: absolute;
  margin-top: 33px;
  margin-left: 910px;
  border-radius: 30px;
  background-color: #ffffff;
}

#Rectangle-20 {
  width: 150px;
  height: 50px;
  margin-top: 110px;
  margin-left: 20px;
  position: absolute;
  border-radius: 30px;
  background-color: #1b3e5f;
}

#patient-1 {
  width: 59px;
  height: 58px;
  position: absolute;
  margin-top: 24px;
  margin-left: 68px;
}

#TotalPatients {
  width: 120px;
  height: 15px;
  margin: 80px 0px 0px 34px;
  position: absolute;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#telephone {
  width: 48px;
  height: 54px;
  position: absolute;
  margin-top: 24px;
  margin-left: 68px;
}

#PhoneCalls {
  width: 120px;
  height: 15px;
  position: absolute;
  margin: 83px 0px 0px 36px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#appointment {
  width: 50px;
  height: 54px;
  position: absolute;
  margin-top: 24px;
  margin-left: 68px;
}

#Appointments {
  width: 120px;
  height: 15px;
  position: absolute;
  margin: 84px 0px 0px 34px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#email {
  width: 54px;
  height: 57px;
  position: absolute;
  margin-top: 24px;
  margin-left: 68px;
}

#UnreadMail {
  width: 120px;
  height: 15px;
  position: absolute;
  margin: 84px 0px 0px 34px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#clock-circular-outline {
  width: 50px;
  height: 54px;
  position: absolute;
  margin-top: 24px;
  margin-left: 68px;
}

#TimeWorked {
  width: 120px;
  height: 15px;
  position: absolute;
  margin: 84px 0px 0px 34px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#Rectangle-24 {
  width: 162px;
  height: 60px;
  position: absolute;
  margin-left: 40px;
  margin-top: 35px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Name {
  width: 100px;
  height: 22px;
  position: absolute;
  font-family: Montserrat;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b3e5f;
}


#Rectangle-25 {
  width: 162px;
  height: 60px;
  position: absolute;
  margin-left: 480px;
  margin-top: 35px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Location {
  width: 100px;
  height: 22px;
  position: absolute;
  font-family: Montserrat;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b3e5f;
}


#Rectangle-26 {
  width: 162px;
  height: 60px;
  position: absolute;
  margin-left: 720px;
  margin-top: 35px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Date {
  width: 100px;
  height: 22px;
  position: absolute;
  font-family: Montserrat;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b3e5f;
}


#Rectangle-27 {
  width: 162px;
  height: 60px;
  position: absolute;
  margin-left: 950px;
  margin-top: 35px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Time {
  width: 100px;
  height: 22px;
  position: absolute;
  font-family: Montserrat;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b3e5f;
}


#Rectangle-41 {
  width: 1070px;
  height: 70px;
  position: absolute;
  margin-left: 40px;
  margin-top: 120px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Rectangle-42 {
  width: 1070px;
  height: 70px;
  position: absolute;
  margin-left: 40px;
  margin-top: 210px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Rectangle-43 {
  width: 1070px;
  height: 70px;
  position: absolute;
  margin-left: 40px;
  margin-top: 300px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Rectangle-44 {
  width: 1070px;
  height: 70px;
  position: absolute;
  margin-left: 40px;
  margin-top: 390px;
  border-radius: 40px;
  background-color: #ffffff;
}

#Rectangle-21 {
  width: 500px;
  height: 325px;
  position: absolute;
  margin-left: 35px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #ffffff;
}

#Rectangle-22 {
  width: 500px;
  height: 325px;
  position: absolute;
  margin-left: 35px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #ffffff;
}

#supply-chain-management {
  width: 160px;
  height: 163px;
  position: absolute;
  margin-top: 30px;
  margin-left: 170px;
}

#medical-records {
  width: 154px;
  height: 148px;
  position: absolute;
  margin-top: 30px;
  margin-left: 160px;
}

#Rectangle-29 {
  width: 374px;
  height: 81px;
  position: absolute;
  margin-left: 64px;
  margin-top: 220px;
  border-radius: 40px;
  background-color: #1b3e5f;
}

#Rectangle-30 {
  width: 374px;
  height: 81px;
  position: absolute;
  margin-left: 64px;
  margin-top: 220px;
  border-radius: 40px;
  background-color: #1b3e5f;
}





