#blue-back {
    width: 1440px;
    height: 2122px;
    background-color:#1b3e5f ;
    position: absolute;
}

#white-above-blue{
    width:1360 ;
    height:2042 ;
    position: absolute;
    background-color: white;
    border-radius: 30px;
    margin: 40px 40px 0px 40px;
    
}

#navbar{
    border-radius: 28px;
    background-color: #1b3e5f;
    height: 50px;
    width: 530px;
    margin: 20px 20px;
    padding-top: 20px;
    
}

.toggle-btn{

    height: 35px;
    border-radius: 28px;
    background-color: #e5ecf1;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 15px;

    

}

#back{
    width: 88.1px;
    margin-left: 20px;
    margin-bottom: 50px;

}

#home{
    width: 88.1px;

}

#patient-log{
    width: 130px;

}

#supplychain{
    width: 130px;
}

#logo{
    height:260px ;
    width:260px ;
    padding-bottom: 200px;
    margin: 20px 60px;
    position: absolute;
   

}

#patient-tag{
    height: 260px;
    width: 880px;
    border-radius: 45px;
    background-color:#e5ecf1 ;
    position: absolute;
    margin-left: 400px;
    margin-top: 25px;
}

#name{
    position: absolute;
    width: 727.5px;
    height: 43.1px;
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b3e5f;
    margin-left: 70px;
    margin-top: 50px;
}

#doctor{
    margin-top: 125px;
    width: 389px;
    height: 25px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 70px;
  
}

#patient-image{
    position: absolute;
    width: 300px;
    height: 254px;
    margin-bottom: 22px;
    margin-left: 570px;

}

#add{
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 15px;
    position: absolute;
}

#patient-info-bar{
    border-radius: 28px;
    background-color: #e5ecf1;
    height: 60px;
    width: 1240px;
    margin: 340px 50px;
    position: absolute;

}

.toggle{
    width: 110px;
    height: 35px;
    border-radius: 30px;
    background-color: #1b3e5f;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 25px;
    margin-top: 13px;
}

#medical-history{
    width: 150px;

}

#body-scan{
    width: 650px;
    height: 1100px;
    border-radius: 30px;
    background-color: #e5ecf1;
    position: absolute;
    margin-top: 450px;
    margin-left: 50px;
}

#body{
    position: absolute;
    height: 900px;
    width: 1550px;
    /* margin-left: 100px;
    margin-right: 1300px; */
}

#heart-scan {
    width: 550px;
    height: 520px;
    border-radius: 30px;
    background-color: #e5ecf1;
    position: absolute;
    margin-top: 460px;
    margin-left: 750px;
}

#heart{
    position: absolute;
    width:300 ;
    height:450 ;
    margin-top: 30px;
    margin-left: 115px;
}

#kidney-scan{
    width: 550px;
    height: 520px;
    border-radius: 30px;
    background-color: #e5ecf1;
    position: absolute;
    margin-top: 1020px;
    margin-left: 750px;
}

#kidney{
    position: absolute;
    width:300 ;
    height:450 ;
    margin-top: 30px;
    margin-left: 115px;
}


#analysic-codes{
    width: 578px;
    height: 44px;
    font-family: Montserrat;
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b3e5f;
    position: absolute;
    margin-top: 1580px;
    margin-left: 55px;

}

.codes{
    width: 406px;
    height: 68px;
    border-radius: 30px;
    background-color: #e5ecf1;
    position: absolute;
    

}

#code1{
    margin-top: 1655px;
    margin-left: 45px;
   
}

#code2{
    margin-top: 1745px;
    margin-left: 45px;
}

#code3{
    margin-top: 1835px ;
    margin-left: 45px;
}

#code4{
    margin-top: 1655px;
    margin-left: 485px;
}

#code5{
        margin-top: 1655px;
        margin-left: 925px;
}

#code6{
    margin-top: 1745px;
    margin-left: 485px;
}

#code7{
    margin-top: 1835px ;
    margin-left: 485px;

}

#code8{
    margin-top: 1745px;
    margin-left: 925px;
}

#code9{
    margin-top: 1835px;
    margin-left: 925px;

}

.names{
    width: 96px;
    height: 29px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.number{
    
        width: 30px;
        height: 29px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        position: absolute;
      
}

.codess{
    width: 96px;
    height: 29px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: absolute;
}

